  <div class="row">
    {{#each education}}
      <div class="col-6">
        <div class="resume-degree font-weight-bold">{{title}}</div>
        <div class="resume-degree-org text-muted">{{place}}</div>
        <div class="resume-degree-time text-muted">{{from}} - {{to}}</div>
      </div>
    {{/each}}
  </div>
