{{#each skills}}
  <div class="item">
    {{!--  <h4 class="item-title">{{name}}</h4>  --}}
    <ul class="list-unstyled resume-skills-list">
      {{#each all}}
        <li class="mb-2">{{this}}</li>
      {{/each}}
    </ul>
  </div><!--//item-->
{{/each}}
